body{
    margin: 0;
    padding: 0;
}
nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 234, 188);
    padding-inline:  15px;
}
#navigation{
    display: flex;
     gap: 20px;
      width: 250px;
      justify-content: space-around;
      color: black;
      font-family: cursive;
      font-size: 14px;
}
#navigation a:hover{
    color: gray;
    cursor: pointer;
}
#navigation a:active{
    color: black;
}
#book{
    position: relative;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold; font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 3);
    border: none;
}
#book:hover{
    
    background-color: rgb(203, 151, 6);
    border: 1px solid gray;
    cursor: pointer;
}
#book:active{
    color: rgb(255, 255, 255);
    padding: 7px;
    border: none;
}
#hero {
    width: 100%;
    height: 550px;
    background-image: url(./assets/pexels-jmark-253096.jpg);
    background-size: cover;   
    background-position: center;  
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:last baseline;
}
#hero img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: absolute;
}
#hero h1{
    position:relative;
  margin-top: 6%;
    font-size: 60px;
    color: rgb(243, 229, 205);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
#hero p{
    margin: 1px;           /* Remove default margin */
    padding: 0;
    position: relative;
    color: white;
    font-size: 20px;
    font-family:cursive;
}

#book1{
        position: relative;
    padding: 8px;
    margin: 20px;
    font-size: 26px;
    border-radius: 5px;
    font-weight: bold; font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 3);
    border: none;
}
#book1:hover{
    
    background-color: rgb(203, 151, 6);
    border: 1px solid gray;
    cursor: pointer;
}
#book1:active{
    color: rgb(255, 255, 255);
    padding: 7px;
    border: none;
}

#offer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#offer h2{
    margin: 2%;
    color: rgba(57, 127, 219, 0.99);
    font-size: 20px;
    
    padding: 0%;
}
#offer h1{
     margin: 0%;
    padding: 0%;
      font-size: 27px;
}

/* Cards */
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.car-card {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}

.car-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.car-info {
    padding: 10px 15px;
    text-align: center;
}

.car-info .category {
    font-size: 14px;
    color: gray;
    margin: 0;
}

.car-info .model {
    font-size: 24px;
    margin: 5px 0;
    color: #333;
}

.car-info .price {
    font-size: 16px;
    color: #009688;
    margin: 0;
}

.car-features {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #555;
}

.morebtn{
  
    background-color: black;
    
    width: 100px;
    padding-block: 5px;
    border-radius: 6px;
}
.morebtn a{
  text-decoration: none;
    color: white;
}

.morebtn:hover{
    
    background-color: rgb(98, 98, 98);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(103, 101, 101);
    cursor: pointer;
}
.morebtn:active{
    color: rgb(255, 255, 255);
    padding: 7px;
    border: none;
}

/* we */
#we{
    margin-top: 30px;
    height: 400px;
    width: 100%;
    display: flex;

}
.we1{
    width: 50%;
    background-color: rgb(254, 245, 245);
    display: flex;
    flex-direction: column;
padding-inline: 20px;
padding-top: 20px;

}

.we1 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(232, 143, 9);
    font-weight: normal;
    font-size: 25px;
    margin: 0;
}
.we1 h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size: 40px;
}
.we1 p{
    font-size: 18px;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.we2{
    width: 50%;
   border-radius: 0px 10px 10px 0px;
     background-image: url(./assets/wepic.jpg);
         background-size: cover;   
    background-position: center;  
    background-repeat: no-repeat;
}

.simple-card {
    margin-top: 30px;
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: rgb(255, 255, 222);
  font-family: Arial, sans-serif;
  text-align: center;
}

.simple-card h2 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #333;
}

.simple-card p {
  font-size: 18px;
  color: #555;
}
